* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfy::after {
    content: '';
    display: table;
    clear: both;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #33475b;
}

.fullcontain {
    width: 100%;
}

.container {
    width: 75%;
    max-width: 1200px;
    margin: 0 auto;
    /* border: 1px solid black; */
    }

.powder {
    background-color: #f4f9fd;
    border-bottom: 1px solid #4e6071;

}

.white {
    background-color: white;
}

.whiteheight {
    height: 600px;
}

.pink {
    background-color: #fff4ef;
    /* da cancellare */
    /* height: 600px; */
}

.greenrow {
    background-color: #afebe4;
    height: 70px;
    border-top: 2px solid #33475b;
    border-bottom: 2px solid #33475b;
}

.blue {
    /* background-color: #00b0b0; */
    background: linear-gradient(0.25turn, #00a8b9, #00afb2, #00bba6);
    /* da cancellare */
    height: 600px;
}

.grey {
    background-color: #32495b;
    /* da cancellare */
    height: 500px;
}

/* Prima nav  */
/* .fixed {
    position: fixed;
    top: 0;
    z-index: 2;
} */

.nav {
    height: 70px;
}

.language {
    float: left;
    color: #4e6071;
    /* line-height: 70px; */
}

.language i {
    float: left;
    color: #4e6071;
    margin-top: 27px;
}

.language a {
    font-size: 17px;
    color: #4e6071;
    float: left;
    list-style: none;
    padding: 25px 7px 26px;
    margin: auto;
    text-decoration: none;
}

.contact a {
    font-size: 17px;
    float: left;
    color: #4e6071;
    padding: 10px 15px 10px 25px;
    line-height: 50px;
    list-style: none;
    margin: auto;
    text-decoration: none;
}

.contact p {
    color: #4e6071;
    margin: auto;
    float: left;
    margin-left: 25px;
    padding-top: 23px;
}

.cta {
    float: right;
}

.cta i {
    color: #00a4bd;
    margin-top: 27px;
}

.button {
    border-radius: 5px;
    padding: 5px 10px;
    font-weight: 700;
    margin-left: 15px;
}

.btn {
    border-radius: 5px;
    font-weight: 700;
}

.btn-empty {
    background-color: #fafcfe;
    color: #fe775a;
    border: 1px solid #fe775a;
}

.btn-full {
    color: #fafcfe;
    background-color: #fe775a;
    border: none;
}
/* Fine Prima Nav */

/* Seconda Nav */
.menu {
    float: right;
}

.hubspot-logo {
    width: 120px;
    float: left;
    padding-top: 13px;
}

.white ul li {
    font-size: 17px;
    color: #4e6071;
    float: left;
    list-style: none;
    padding: 25px 0 0 20px;
}

span {
    padding-left: 10px;
    padding-top: 26px;
}
/* Fine Seconda Nav */

/* Header  */
.banner {
    height: 550px;
    position: relative;

}

.jumbotron {
    width: 50%;
    position: absolute;
    top: 10%;
}

h1 {
    font-size: 50px;
    color: #33475b;
    font-weight: 800;
    line-height: 50px;
}

.jumbotron p {
    font-size: 14px;
    color: #33475b;
    line-height: 25px;
    padding: 40px 0;
}

.bigbutton {
    color: #fafcfe;
    background-color: #fe775a;
    border: none;
    padding: 15px 20px;
}

#cta-text {
    font-size: 10px;
    padding-top: 30px;
}
/* Fine Header */

/* Main */
main {
                  /* da cancellare */
    /* height: 1230px; */
}

/* Bigbox 1 */
.bigbox {
    width: 100%;
    height: 630px;
}

.row {
    width: 100%;
    height: 55%;
    text-align: center;
}

.row img {
    width: 200px;
    float: initial;
    margin-top: 30px;
}

h2 {
    font-size: 30px;
    color: #33475b;
}

.row p {
    width: 82%;
    margin: 30px auto auto;
}

.whiterow {
    width: 100%;
    height: 45%;
    background-color: #ffffff;
    border-radius: 5px;
}

.left-part {
    width: 33.3%;
    height: 100%;
    float: left;
    text-align: center;
}

.central-right-part {
    width: 66.6%;
    height: 100%;
    float: left;
    position: relative;
}

.left-part img {
    width: 130px;
}

.book-margin {
    margin-top: 40px;
}

.learnmore {
    margin-top: 15px;
}

.btn-learnmore {
    color: #fafcfe;
    background-color: #fe775a;
    border: none;
    padding: 20px 25px;
}

h2 {
    font-size: 20px;
}

.whiterow h3 {
    margin-top: 40px;
}

.whiterow p {
    width: 75%;
    margin-top: 30px;
}

.whiterow h4 {
    margin-top: 25px;
}

/* .whiterow hr {
    width: 50%;
    color: #33475b;
} */

.whiterow h4::after {
    content: '';
    position: absolute;
    height: 5px;
    margin-left: 50px;
    border-bottom: 1px solid #899397;
    top: 58%;
    width: 55%;
}

.whiterow i {
    color: #fe775a;
    margin-right: 10px;
    float: left;
}

.whiterow li {
    list-style-type: none;
    float: left;
    padding-left: 0;
    padding-right: 20px;
    padding-top: 20px;
}
/* Fine Bigbox 1 */

/* Bigbox 2 */
.box {
    width: 30%;
    background-color: white;
    float: left;
    height: 550px;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 20px;
}

.marginbox {
    margin-left: 5%;
    margin-right: 5%;
}

.margins {
    margin-top: 40px;
    margin-bottom: 40px;
}

.box img {
    width: 110px;
    height: 110px;
    margin-top: 10px;
}

.box h3 {
    margin-top: 17px;
}

.box p {
    margin-top: 30px;
    padding-bottom: 50px;
    padding-right: 10px;
    padding-left: 10px;
}

hr {
    width: 80%;
    margin-left: 10%;
}

.box h4 {
    margin-top: 20px;
    margin-bottom:20px;
}

.box-padding {
    /* line-height: 2px; */
    padding: 0;
}

.box li {
    list-style-type: none;
    text-align: left;
    margin-left: 25px;
}

.box i {
    color: #fe775a;
    margin-right: 10px;
}

.box button {
    margin-top: 25px;
}

.shadow {
    box-shadow: 1px 1px 1px 1px #E3E4FA;
}
/* Fine Bigbox 2 */
/* Fine Main */

/* Footer */
footer {
    /* da cancellare */
    /* height: 500px; */
}

.footer-row {
    width: 100%;
    height: 325px;
}

.boxfooter {
    width: 25%;
    height: 325px;
    float: left;
}

.rowfooter {
    width: 100%;
    height: 175px;
    /* border: 1px solid white; */
}

.boxfooter ul li {
    list-style-type: none;
    color: #cbd6e2;
    text-align: left;
    line-height: 30px;
}

.boxfooter p {
    color: #cbd6e2;
    font-weight: 700;
    text-align: left;
    margin: 20px 0;
}

.btn-footer {
    font-size: 15px;
    background-color: #dadee0;
    border: none;
    border-radius: 5px;
    padding: 10px 10px;
    font-weight: 400;
    color: #32495b;
    margin: 15px 0;
}

.socialitem {
    margin-top: 10px;
}

.item-chr {
    color: #cbd6e2;
    width: 23px;
    float: left;
    margin-right: 20px;
}

.item-chr2 {
    color: #cbd6e2;
    width: 23px;
    float: left;
    margin-right: 14px;
}

.item-chr3 {
    color: #cbd6e2;
    width: 23px;
    float: left;
    margin-right: 18px;
}

.languages {
    width: 100%;
    height: 30%;
    border-bottom: 1px solid #cbd6e2;
    font-weight: 700;
    text-align: center;
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.rowfooter ul {
    margin: 0 auto;
}

.rowfooter li {
    color: #cbd6e2;
    float: left;
    list-style-type: none;
    margin: 0 15px;
}

.copyright {
    color: #cbd6e2;
    width: 50%;
    float: left;
}

.privacy {
    color: #cbd6e2;
    width: 50%;
    float: left;
    margin-top: 35px;
}

.rowfooter img {
    width: 100px;
    margin-top: 30px;
}

.legal {
    float: right;
    margin-right: 15px;
}

.policy {
    float: right;
}
